---
import { loadQuery } from "../sanity/lib/load-query.ts";

const { data: articles } = await loadQuery<{title: string; mainImage: {alt: string, asset: {url: string}}; slug: {current: string}}>({
    query: `*[_type == "post"] | order(_createdAt desc) {
        title,
        "mainImage": mainImage{
            alt,
            asset->{
                url
            }
        },
        slug 
    } [0...3]`
});

const { sectionTitle, classes } = Astro.props;
---
<h2 class=`text-3xl text-text1 text-center mt-16 md:col-span-3 ${classes}`>{sectionTitle}</h2> 
<ul class="grid grid-flow-row gap-4 md:grid-cols-3 md:col-span-3 md:gap-6">
    {articles.map((article) => <li class="space-y-2">
                                    <article>
                                        <a href=`/post/${article.slug.current}`><img class="w-full" src={`${article.mainImage.asset.url}?w=300&h=300&fit=scale`} src={article.mainImage.alt}/></a>                                        
                                        <a href=`/post/${article.slug.current}`><h3 class="text-xl text-text1 max-w-[24ch] font-bold transition-colors hover:text-lightBlue1">{article.title}</h3></a>
                                    </article>                                    
                                </li>)}
</ul>


